<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clinic Management System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Chamara Silva</ion-card-title>
      <ion-card-subtitle>Type : Voice Call</ion-card-subtitle>
      <ion-card-subtitle>Date : 11th of January 2025</ion-card-subtitle>
      <ion-card-subtitle>Time : 7.00 AM - 8.00 AM</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nishadi Hansika </ion-card-title>
      <ion-card-subtitle>Type : Physical Meetin</ion-card-subtitle>
      <ion-card-subtitle>Date : 25th of February 2025</ion-card-subtitle>
      <ion-card-subtitle>Time : 8.00 AM - 9.00 AM</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ayodya Perera</ion-card-title>
      <ion-card-subtitle>Type : Voice Call</ion-card-subtitle>
      <ion-card-subtitle>Date : 25th of March 2025</ion-card-subtitle>
      <ion-card-subtitle>Time : 7.00 PM - 8.00 PM</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hiruni Jayasinghe</ion-card-title>
      <ion-card-subtitle>Type : Voice Call</ion-card-subtitle>
      <ion-card-subtitle>Date : 25th of May 2025</ion-card-subtitle>
      <ion-card-subtitle>Time : 12.05 PM - 1.00 PM</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Chanaka Dananjaya</ion-card-title>
      <ion-card-subtitle>Type : Voice Call</ion-card-subtitle>
      <ion-card-subtitle>Date : 25th of January 2025</ion-card-subtitle>
      <ion-card-subtitle>Time : 7.00 AM - 8.00 AM</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Chandima</ion-card-title>
      <ion-card-subtitle>Type : Voice Call</ion-card-subtitle>
      <ion-card-subtitle>Date : 10th of January 2025</ion-card-subtitle>
      <ion-card-subtitle>Time : 7.00 AM - 8.00 AM</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
