<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clinic Management System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar></ion-searchbar>
  <h1>Feed</h1>

  <h2>Optimize Healthcare with us</h2>
  <img alt="brown sea turtle in water"
    src="https://private-user-images.githubusercontent.com/34955185/308650732-ee12963a-93bc-42d7-aa3b-fd0740841068.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDk1NjI4MTAsIm5iZiI6MTcwOTU2MjUxMCwicGF0aCI6Ii8zNDk1NTE4NS8zMDg2NTA3MzItZWUxMjk2M2EtOTNiYy00MmQ3LWFhM2ItZmQwNzQwODQxMDY4LmpwZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAzMDQlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMzA0VDE0MjgzMFomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWE1ZWY1MzhkMWY4Nzk4NmQwNDYzMTI3NzAwZTljMTE0OWNlNGJmOWZhYWRmNWY4ZTU4Y2YwYmUzY2IyZGI4NDQmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.3ciaFP5fpGaLrUZJrB97s3D201mTcwfkeKXLsj5bXys" />
  <p>
    Revolutionize healthcare with our comprehensive solutions. From advanced diagnostics to personalized treatments, we
    prioritize patient wellness. Our integrated platform ensures seamless operations and enhanced care delivery. Join us
    in transforming healthcare for a healthier tomorrow.
  </p>

  <h2>Contact US</h2>
  <img alt="rhino standing near grass"
    src="https://private-user-images.githubusercontent.com/34955185/308665171-3061a752-4f11-4eba-8674-7fb2891bdb29.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDkxNDM5NDMsIm5iZiI6MTcwOTE0MzY0MywicGF0aCI6Ii8zNDk1NTE4NS8zMDg2NjUxNzEtMzA2MWE3NTItNGYxMS00ZWJhLTg2NzQtN2ZiMjg5MWJkYjI5LnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMjglMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjI4VDE4MDcyM1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTVlNDg5MTMyNWI4MzRlNDNmYWU3OTI3NWY0YzNjM2FmZTkzOGViNTk1MWQ2YmYxMDM5YWRiOGM4YmM4MzNlYTUmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.MG-36Xd20yCrAtFUHJ6TFoTqt5Rx7vmItcbsIsLd6rU&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
  <p>
    Streamline your clinic's operations with our cutting-edge Clinic Management System. From appointment scheduling to
    billing and patient records management, our intuitive platform simplifies every aspect of running your practice.
    Increase efficiency, reduce administrative burden, and enhance patient care with our user-friendly solution. Try
    it today and experience the difference!
  </p>

  <h2>Giraffe</h2>
  <img alt="giraffe sticking its tongue out"
    src="https://images.unsplash.com/photo-1577114995803-d8ce0e2b4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80" />
  <p>
    Giraffes are known for their long, tall appearance. They have a small hump on their back like a camel and have a
    spotted pattern similar to that of a leopard. Because of the combination of these features, some people called the
    giraffe a “camel-leopard.” That’s where the giraffe’s species name “camelopardalis” comes from.
  </p>

  <h2>Elephant</h2>
  <img alt="two grey elephants on grass plains during sunset"
    src="https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1754&q=80" />
  <p>
    Elephants are the largest existing land animal, with massive bodies, large ears, and long trunks. Elephants’ long
    trunks are multifunctional. They are used to pick up objects, trumpet warnings, greet other elephants, or suck up
    water for drinking or bathing.
  </p>

  <h2>Dolphin</h2>
  <img alt="black and white dolphin in water"
    src="https://images.unsplash.com/photo-1607153333879-c174d265f1d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
  <p>
    Dolphins range in color depending on the species, from white, pearl, and pink to darker shades of brown, gray,
    blue,
    and black. They have smooth skin, flippers, and a dorsal fin. They have a long, slender snout with about 100 teeth
    and a streamlined body. They have a single blowhole on top of their head, which has a flap that opens to reveal a
    pair of nostrils. The dolphin uses these nostrils for breathing when it surfaces.
  </p>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
