<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clinic Management System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://private-user-images.githubusercontent.com/34955185/308650732-ee12963a-93bc-42d7-aa3b-fd0740841068.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDkxNDA5NzMsIm5iZiI6MTcwOTE0MDY3MywicGF0aCI6Ii8zNDk1NTE4NS8zMDg2NTA3MzItZWUxMjk2M2EtOTNiYy00MmQ3LWFhM2ItZmQwNzQwODQxMDY4LmpwZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMjglMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjI4VDE3MTc1M1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTA3MWYyM2E1NjAyYTRhNWY0MzRhZDYzZTY3NmIxMmU2OTVkNDg5NTlmYmQ4YTdkYTcyOTQ1MjVmZGYzMTg2ZGQmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.1SxoCrv3AqqeObJxwOVCQL6usCu9r5QqSFfF4oYChvk" />
    <ion-card-header>
      <ion-card-title>Chamara Silva</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Male 1992.02.20 A+ 715566985
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://private-user-images.githubusercontent.com/34955185/308650742-6efa9d36-afac-4fce-824a-c18bc48f4990.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDkxNDA5NzMsIm5iZiI6MTcwOTE0MDY3MywicGF0aCI6Ii8zNDk1NTE4NS8zMDg2NTA3NDItNmVmYTlkMzYtYWZhYy00ZmNlLTgyNGEtYzE4YmM0OGY0OTkwLmpwZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMjglMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjI4VDE3MTc1M1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWI5ZmQzYThiNGRjYmJlYjVkOGUwOGRmZTkyOGNiYzMzY2I0NTFlZDZkZDUyNTQ3M2RlYWNkMGQwOGJjMzFjMTYmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.D7kuQ-f037gjJB6xkQTvK9CkewFxPZwy3tbXatPJno0" />
    <ion-card-header>
      <ion-card-title>Chanaka Dananjaya</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Male 1996.05.30 B+ 705468956
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://private-user-images.githubusercontent.com/34955185/308650748-6035d414-7291-4a4f-aec8-f1de2ea38d98.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDkxNDA5NzMsIm5iZiI6MTcwOTE0MDY3MywicGF0aCI6Ii8zNDk1NTE4NS8zMDg2NTA3NDgtNjAzNWQ0MTQtNzI5MS00YTRmLWFlYzgtZjFkZTJlYTM4ZDk4LmpwZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMjglMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjI4VDE3MTc1M1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTM3YzUzYWY0YjJkMzIyYmY2ZjE1YjgxMDY1OTRkY2ExMzA2ODM4NjJjYzk2NjlhZDgzNzUyMTVmMDNhMzAzODgmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.oe09DKi4QC9ivTGIbgBl6Wo3dTROz2ir70FcYTv-fhs" />
    <ion-card-header>
      <ion-card-title>Hiruni Jayasinghe
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Female 2001.09.14 O 775466985
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nishadi Hansika
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Female 1995.11.20 A- 775468955
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Ayodya Perera
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Female 2000.09.15 A+ 745698562
    </ion-card-content>
  </ion-card>

</ion-content>
